<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='keywords'>
    <meta charset="utf-8"/>
    <meta name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
    <main>
        <div>
          <h1>Login</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
          </form>
        </div>
    </main>
</body>
</html>