<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='keywords'>
    <meta charset="UTF-8">
    <meta name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Main Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Category List</a></li>
                <li><a href="{% url 'account_list' %}">Account List</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<main>
    <h1>
        My Receipts
    </h1>
    <table>
        <tr>
            <td>Vendor</td>
            <td>Total</td>
            <td>Tax</td>
            <td>Date</td>
            <td>Category</td>
            <td>Account</td>
        </tr>
        <tbody>
            {% for receipt_detail in receipt_list %}
            <tr>
                <td>{{ receipt_detail.vendor }}</td>
                <td>{{ receipt_detail.total }}</td>
                <td>{{ receipt_detail.tax }}</td>
                <td>{{ receipt_detail.date|date:"m/d/y" }}</td>
                <td>{{ receipt_detail.category.name }}</td>
                <td>{{ receipt_detail.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>